/*ESTILOS RESET*/

*{ 
  margin:0; padding:0; box-sizing:border-box; 
}


body {
    background-color: brown;
}


/* Clase para párrafos destacados */
.p2 {
  margin-top: 0.5rem; /* ajustable */
  padding: 10px 20px;
  font-size: 1.1em;
  color: #070303;
  text-align: center;
}


/* Caja con padding y borde */

li{
    list-style: none;
}



#main{
    background-color:  #fbd14b;
}

.box-reseña {
    justify-content: center;
    margin-top: 20px;
    border: 30px solid
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: rgb(242, 241, 251);
    overflow: auto;
    margin: 0 auto;
}




.content-box-2 {
  padding: 1.5rem 1rem;
  max-width: 960px;
}
